#banner {
    background-image:none;
    height:80px;
}

#bannerLeft img {
    margin:8px;
}

#bannerRight img{
    margin: 20px;
}

h3 {
    background: none;
    padding-left: 0px;
    color: #333;
}

.source {
    color: #333;
}

.source pre {
    font-family: Courier New
}

a:link, a:visited {
    color: green;
}

a:hover {
    color: #fff;
    background-color:green;
}

#navcolumn ul a {
    display:block;
}

#navcolumn ul a:hover {
    color: green;
    text-decoration: underline;
    background-color:#fff;
}

.xright a:hover {
    background-color: transparent;
}

dt {
    background-image:none;
    padding-left: 4px;
}